body {
  background-color: #5468ff;
  font-family: "JetBrains Mono", monospace;
}

h1 {
  text-align: center;
  color: white;
  font-style: italic;
}

#input {
  border-radius: 18px;
  border: 0px;
  background: white;
  padding: 20px;
  width: 200px;
  height: 10px;
  color: black;
  font-family: "JetBrains Mono", monospace;
}

.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}

.list {
  color: white;
}

/* .delete-button{
   text-decoration: none;
   padding: 10px;
   border-radius: 6px;
   border : 0px;
   background: #7F00FF;  
   background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  
   background: linear-gradient(to right, #E100FF, #7F00FF);
} */

.container{
  display: flex;
  flex-direction: column;
  width: 400px;
  align-items: center;
  justify-content: center;
  margin: auto;
}


p {
  margin: auto;
  width: 50%;
  padding: 20px;
}



form {
  /* margin: auto;
  width: 50%; */
  display: flex;
  flex-direction: column;
  flex-wrap:wrap; 
  padding: 10px;
}

.--registerbox {
  margin: auto;
  width: 50%;
  /* padding: 10px; */
  text-align: center;
  display:  flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap
}

.--registerbox p {
  color: white;
  display: inline-block;
  font-size: 20px;
  text-align: left;
  

}

#submit-button{
  margin-top: 45px;
  margin-right: 14px;
  padding: 15px 35px 15px 20px;
  border-radius: 60px;
  font-family: "JetBrains Mono", monospace;
  font-size: medium;
  align-content: center;
  color: blue;
  background-color: white;
}

.--registerbox h3 {
  color: white;
  font-size: 17px;
  display:  inline-block;
}

.--registerbox h3 > a{
  text-decoration: none;
  padding : 10px;
  background-color: white;
  border-radius: 60px;
}



/* .--main{
  justify-content: center;
  align-items: center;
} */
.--main{
  color: white;
}

.--main > h1 {
  color:  white;
  background-color: blue;
}

.--main > a{
  text-decoration: none;
  margin-left: 150px;
  color: white;
  background-color: red;
}

.--main > p{
  font-size: 20px;
}



.--mainform{
  display: flex;
  margin-left: 20px;
  justify-content: space-around;
}

