<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list ✨</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,300&display=swap" rel="stylesheet"> 
</head>
<body>
    <div class="container">
        <div class="--main">
        <h1>A todo app made using <em>Flask</em> </h1>
        <a href="{{ url_for('logout')}}">[Logout]</a>

        <h3>Current User : {{username}}</h3>
        <form action="/", method="POST">
        
        <div class="--mainform">
        <input type="text" id='input' name="inputtask" placeholder="Add Task" autofocus>
        <button type="submit" class="button-29">Add</button>
        </div>
         </form>

         {% for x in tasklist %}
        <p class="list">--> {{x.tasklist}}    
        <a href="/delete/{{x.id}}" class="delete-button">Delete</a>
        </p>
        {% endfor %}
        </div>

        
 </div>

</body>
</html>